* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    gap: 32px;
    padding: 32px;
}

.book-form-container {

}

#add-book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
}

.card {
    border: 1px solid black;
    height: 350px;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: space-evenly;
}

/* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
align-items: center;
overflow: auto; */